name: push actions

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Install dependencies
      run: sudo apt install shc dialog
      
    - name: Install click
      run: pip install click
      
    - name: Build
      run: make
    
    - name: Upload build artifact
      uses: actions/upload-artifact@v2.3.1
      with:
         name: power-mgmt
         path: build/power-mgmt
         if-no-files-found: warn
         retention-days: 90
  
    - name: Build debug
      run: make debug
      
    - name: Upload debug artifact
      uses: actions/upload-artifact@v2.3.1
      with:
         name: power-mgmt-debug
         path: build/power-mgmt-debug
         if-no-files-found: warn
         retention-days: 60
         
    - name: Build busybox
      run: make busybox
      
    - name: Upload busybox artifact
      uses: actions/upload-artifact@v2.3.1
      with:
         name: power-mgmt-busybox
         path: build/power-mgmt-busybox
         if-no-files-found: warn
         retention-days: 60
         
  deb-control-file-build:
    name: build for debian
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: checkout
        uses: actions/checkout@v2
        # Generate Debian control File
      - name: Generate Debian control File
        uses: Nightwind-Developments/debian-control-file-builder@latest
        id: deb_control
        # Input Parameters
        with:
          # Required: Configuration File
          config-file: 'debian/control.json'
          # Optional: deps-file
          deps-file: 'debian/depends.txt'
          # Optional: Custom Output Directory
          # output-path: 'desired/path/to/generated/file/named/control'
          # Optional: Case Sensitive JSON Keys
          case-sensitive-keys: 'true'
        
        # Upload the Generated control File as an Artifact
      - name: Upload Generated Control File
        uses: actions/upload-artifact@v2
        with:
          name: generated-control-file
          path: "${{ steps.deb_control.outputs.control_file_path }}"
          if-no-files-found: error
          
      - name: Prints Output File Path
        run: echo "${{ steps.control-gen.outputs.control_file_path }}"

      - name: Confirms Control File is Present
        run: ls ${{ steps.control-gen.outputs.control_file_path }}
        
      #- name: Build Docker Container & Run Debian Packer
        #uses: Nightwind-Developments/debian-packer@latest
        #id: container
        #with:
          #input_dir: 'examples/input_example'
          #output_dir: 'output'
          #layout_map_file: 'build/map.json'
          #package_name: 'power-mgmt'
          #package_version: '0.0.1'
          #package_arch: 'all'

      - name: Upload Generated Package File
        uses: actions/upload-artifact@v2
        with:
          name: generated-hello-world-package
          path: "${{ steps.container.outputs.generated_package_path }}"
          if-no-files-found: error
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: [build, deb-control-file-build]
    steps:
    - uses: actions/checkout@v2
    - uses: ncipollo/release-action@v1
      with:
        artifacts: "power-mgmt*"
        body: "Here it is, power-mgmt built fresh from the last commit, beware this is the bleeding edge. This is unstable software"
        token: ${{ secrets.GITHUB_TOKEN }}
        prerelease: true
        